.sidebar-drawer {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 8px;

	.sidebar-item {
		color: #343a40;
		caret-color: #343a40;
		min-height: 40px;
		cursor: pointer;
		height: 47px;
		display: -webkit-box;
		margin-top: -5px;
		text-decoration: none;
		-webkit-box-align: center;
		letter-spacing: normal;
		position: relative;
		-webkit-box-flex: 1;
		margin-bottom: 7px;

		&__icon {
			height: 24px;
			display: inline-flex;
			min-width: 24px;
			margin: 16px 10px 16px 5px;

			svg {
				color: #757575;
				font-size: 22px;
				-webkit-box-align: center;
				align-items: center;
				display: inline-flex;
				-webkit-box-pack: center;
				justify-content: center;
				letter-spacing: normal;
				line-height: 1;
				position: relative;
				text-indent: 0;
				transition: .3s cubic-bezier(.25, .8, .5, 1), visibility 0s;
				vertical-align: middle;
				margin-top: -3px;
			}
		}

		&__title {
			font-size: 15px;
			height: 100%;
			font-weight: 700;
			line-height: 3rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: #343a40;
			caret-color: #343a40;
			margin-left: 10px;
			margin-top: 1px;
		}
	}
}

.list-menu-sidebar {
	margin-left: 50px;

	ul {
		margin-bottom: 10px;

		li>a {
			text-decoration: none;
			font-weight: 500;
			line-height: 1rem;
			color: #343a40;
			caret-color: #343a40;
		}
	}
}

.dropdown-item__icon {
	position: absolute;
	right: 10px;
}

.sidebar-item:hover,
.list-menu-sidebar__item:hover {
	background-color: #e0e0e0;
}

.sidebar-item.active {
	background-color: rgb(235, 236, 238);
}
